<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main id="root">
        <div class="slider">
            <div class="slider-wrapper">
                <div v-for="(item, index) in slideItem"  class="item" v-bind:class="index == currentIndex ? 'active' : ' ' ">
                    <img :src="item.image" alt="">
                    <div class="item-info">
                        <h1>{{ item.title }}</h1>
                        <p>{{ item.text }}</p>
                    </div>
                </div>
            </div>

            <div class="control-wrapper">
                <img v-for="(item, index) in slideItem" :src="item.image" alt="" v-bind:class="index == currentIndex ? 'active' : ' ' ">
                <span v-html="arrows.prev" class="prev"></span>
                <span v-html="arrows.next" class="next"></span>
            </div>
        </div>
    </main>


    <script src="app.js"></script>
</body>
</html>